@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap..https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Yantramanav:wght@100;300;400;500;700;900&display=swap..https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Fira+Code:wght@300..700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap..https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Fira+Code:wght@300..700&family=Oleo+Script:wght@400;700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap..https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Fira+Code:wght@300..700&family=Oleo+Script:wght@400;700&family=Satisfy&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


h1
{
    text-align: center;
    text-decoration-line: underline;
}

h2
{
    text-align: center;
}

p
{
    font-family:"crete round", serif;
}

#p2
{
    font-family:"Yantramanav", sans-serif;
}

#p3
{
    font-family: "Fira code", monospace;
}

#p4
{
    font-family:"Oleo Script", fantasy;
}

#p5
{
    font-family: "Satisfy", cursive;
}